.iconsContainer {
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.iconWrapper {
  cursor: pointer;
  position: relative;
}

.quatity {
  position: absolute;
  top: 15px;
  left: 11px;
}
