.btn {
    padding: 6px;
    border: none;
    color: white;
    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.4);
    border-radius: 5px;
    font-size: 18px;
    transition: 0.2s;
    margin: 20px;

    &:hover {
        transform: scale(1.05);
    }
}