.body-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: "Press Start 2P", cursive;
  background: url(../img/istockphoto-1267031887-170667a.jpeg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.minesweeper-field {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.minesweeper-field__block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 0.2px solid black;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px rgba(53, 53, 53, 0.8) inset;
  transition: 0.2s;
  z-index: 0;
}
.minesweeper-field__block.bomb {
  background: black;
}
.minesweeper-field__block.no-bomb {
  box-shadow: none;
}
.minesweeper-field__block.hover:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 1) inset;
}

.minesweeper-title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.minesweeper-title__container:hover .minesweeper-title__bomb {
  animation: bomb-anim 4s ease-in-out forwards;
}
.minesweeper-title__bomb {
  opacity: 0;
}
@keyframes bomb-anim {
  0% {
    opacity: 0;
    transform: translate(0px) scale(1);
  }
  25% {
    opacity: 1;
    transform: translateY(30px) scale(1.1);
  }
  75% {
    opacity: 1;
    transform: translateY(-30px) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translateY(0px) scale(1);
  }
}
.minesweeper-title {
  font-weight: 700;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: -4px 0 rgb(83, 65, 245), 0 4px rgb(54, 34, 231),
    4px 0 rgb(54, 34, 231), 0 -4px rgb(54, 34, 231);
  margin: 0;
}
.minesweeper-title::before {
  content: "";
  background: url(../img/png-transparent-gray-spiked-ball-art-microsoft-minesweeper-minesweeper-classic-the-minesweeper-naval-mine-mines-game-symmetry-video-game-thumbnail.png);
  width: 20px;
  height: 20px;
}

.body-page.restart:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 2;
  animation: restart-back-anim 0.3s linear forwards;
}
@keyframes restart-back-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restart__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  background: #fff;
  border-radius: 6px;
  animation: restart-container-anim 1s linear forwards;
}
@keyframes restart-container-anim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  25% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    opacity: 0;
    transform: translateY(50px);
  }
  75% {
    opacity: 0.5;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.restart__title {
  font-size: 4em;
  margin: 10px 20px 0px 20px;
}
.restart__button {
  background-color: rgb(118, 107, 226);
  color: #fff;
  padding: 5px 20px 5px 20px;
  margin: 20px 0px 10px 0px;
}
