@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer-page {
  background: $black-color;
}

.contacts__title {
  text-align: center;
  @include text-styles(uppercase, 700, 14px, 22px);
  color: $footer-title-color;
  margin-top: 38px;

  @media (min-width: $tablet-bp) {
    margin: 57px 0px 22px 0px;
    font-size: 16px;
  }

  @media (min-width: $desktop-bp) {
    margin-top: 66px;
  }
}

.contacts__desc {
  text-align: center;
  @include text-styles(none, 400, 12px, 20px);
  color: $footer-text-color;

  @media (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 28px;
  }
}

.contacts__span {
  display: none;

  @media (min-width: $tablet-bp) {
    display: block;
  }
}

.contacts__list {
  @include flex(center, center, none);
  @include list-style;
  column-gap: 6px;
  margin-top: 26px;

  @media (min-width: $tablet-bp) {
    margin-top: 37px;
  }
}

.contacts__item {
  @include flex(center, center, none);
  width: 34px;
  height: 34px;
  border-radius: 30px;

  &:first-child {
    @include border-icon($rss-icon-color);
  }
  &:nth-child(2) {
    @include border-icon($facebook-icon-color);
  }
  &:nth-child(3) {
    @include border-icon($twitter-icon-color);
  }
  &:nth-child(4) {
    @include border-icon($dribbble-icon-color);
  }
  &:last-child {
    @include border-icon($pinterest-icon-color);
  }
  cursor: pointer;
}

.contacts__details {
  text-align: center;
  @include text-styles(none, 400, 14px, 24px);
  color: $footer-text-color;
  margin: 25px 0px 41px 0px;

  @media (min-width: $tablet-bp) {
    font-size: 16px;
    margin: 34px 0px 56px 0px;
  }

  @media (min-width: $desktop-bp) {
    margin-bottom: 70px;
  }
}

.footer-page__container {
  @include flex(center, center, column);
}
