@import "../abstracts/variables";

.header-page__img {
  margin: 23px 0px 38px 0px;

  @media (min-width: $tablet-bp) {
    margin: 43px 0px 56px 0px;
  }
  @media (min-width: $desktop-bp) {
    margin: 51px 0px 66px 0px;
  }
}

.header-page__close-icon {
  display: none;
  &.active {
    display: block;
  }
}
.header-page__open-icon {
  display: none;
  &.active {
    display: block;
  }
}
