@import "../abstracts/mixins";
@import "../abstracts/variables";

.latest-posts {
  @media (min-width: $tablet-bp) {
    background: rgba($color: $black-color, $alpha: 0.03);
  }
}

.latest-posts__img-box {
  display: grid;
  grid-template-areas: "one";
  column-gap: 10px;
  padding-bottom: 42px;

  @media (min-width: $tablet-bp) {
    grid-template-areas: "one two three";
    padding-bottom: 50px;
  }
  @media (min-width: $tablet-bp) {
    grid-template-areas: "one two three fourr";
  }
}

.latest-posts__title-box {
  @media (min-width: $tablet-bp) {
    @include flex(space-between, center, none);
  }
}

.latest-posts__title {
  text-align: left;
  @include text-styles(uppercase, 700, 14px, 22px);
  color: $title-color;
  margin-bottom: 13px;

  &:last-child {
    display: none;
  }

  @media (min-width: $tablet-bp) {
    padding-top: 47px;
    margin-bottom: 35px;
    &:last-child {
      display: block;
    }
  }
  @media (min-width: $desktop-bp) {
    margin-bottom: 24px;
  }
}

.latest-posts__img {
  &:first-child {
    display: block;
    grid-area: one;
  }
  width: 100%;
  max-width: 400px;
  display: none;

  @media (min-width: $tablet-bp) {
    display: block;
    &:first-child {
      grid-area: one;
    }
    &:nth-child(2) {
      display: block;
      grid-area: two;
    }
    &:nth-child(3) {
      display: block;
      grid-area: three;
    }
    &:last-child {
      display: none;
    }
  }
  @media (min-width: $desktop-bp) {
    &:first-child {
      grid-area: one;
    }
    &:nth-child(2) {
      display: block;
      grid-area: two;
    }
    &:nth-child(3) {
      display: block;
      grid-area: three;
    }
    &:last-child {
      display: block;
      grid-area: fourr;
    }
  }
}
