@import "../abstracts/variables";
@import "../abstracts/mixins";

.navbar__button {
  @include flex(center, center, none);
  background-color: $black-color;
  width: min-content;
  padding: 0;
  cursor: pointer;

  &.anim {
    animation: navbar-btn-anim 0.2s linear forwards;
  }

  @keyframes navbar-btn-anim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  @media (min-width: $tablet-bp) {
    display: none;
  }
}
