@import "../abstracts/mixins";
@import "../abstracts/variables";

.navbar {
  @include flex(center, flex-end, column);
  margin-top: 23px;
  position: relative;

  @media (min-width: $tablet-bp) {
    margin-top: 41px;
  }

  @media (min-width: $desktop-bp) {
    margin-top: 41px;
  }
}

.navbar__list_dropdown {
  display: none;
  position: absolute;
  top: 37px;
  @include list-style;

  &.active {
    display: block;
  }
}

.navbar__item_dropdown {
  @include flex(flex-start, center, none);
  width: 183px;
  height: 32px;
  background: $back-color;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $text-hover;
  }
}

.navbar__link_dropdown {
  text-decoration: none;
  @include text-styles(uppercase, 400, 11px, 22px);
  color: $title-color;
  margin-left: 15px;

  &.active {
    color: $text-active;
  }
}

.navbar__list {
  display: none;

  @media (min-width: $tablet-bp) {
    @include flex(center, center, none);
    width: 100%;
    @include list-style;
  }
}
.navbar__item {
  @media (min-width: $tablet-bp) {
    &:not(.navbar__item:first-child) {
      padding-left: 34px;
    }
  }

  @media (min-width: $desktop-bp) {
    &:not(.navbar__item:first-child) {
      padding-left: 68px;
    }
  }
}

.navbar__link {
  @media (min-width: $tablet-bp) {
    text-decoration: none;
    @include text-styles(uppercase, 400, 11px, 22px);
    color: $title-color;

    &.active {
      color: $text-active;
    }
  }
}
