@import "../abstracts/mixins";
@import "../abstracts/variables";

.recent-posts {
  margin-bottom: 77px;

  @media (min-width: $tablet-bp) {
    margin-bottom: 60px;
  }
  @media (min-width: $desktop-bp) {
    margin-bottom: 69px;
  }
}

.recent-posts__title {
  @include text-styles(uppercase, 700, 14px, 22px);
  color: $title-color;
  margin-bottom: 23px;

  @media (min-width: $tablet-bp) {
    font-size: 16px;
  }
}

.recent-posts__list {
  @include list-style;

  @media (min-width: $desktop-bp) {
    display: grid;
    grid-template-areas:
      "first third"
      "second four";
    column-gap: 25px;
    row-gap: 32px;
  }
}

.recent-posts__item {
  margin-bottom: 28px;
  &:last-child {
    display: none;
  }

  @media (min-width: $tablet-bp) {
    @include flex(flex-start, flex-start, none);
    &:last-child {
      @include flex(flex-start, flex-start, none);
    }
  }
  @media (min-width: $desktop-bp) {
    &:first-child {
      grid-area: first;
    }
    &:nth-child(2) {
      grid-area: second;
    }
    &:nth-child(2) {
      grid-area: third;
    }
    &:last-child {
      grid-area: four;
    }
  }
}

.recent-posts__text {
  @include text-styles(none, 700, 14px, 30px);
  color: $title-color;
  margin: 11px 0px 0px 0px;

  @media (min-width: $tablet-bp) {
    margin: 0;
  }
}

.recent-posts__comments {
  @include text-styles(none, 400, 11px, 20px);
  color: $text-color;
}

.recent-posts__desc {
  display: none;

  @media (min-width: $tablet-bp) {
    display: block;
    @include text-styles(none, 400, 14px, 26px);
    color: $recent-posts-color;
  }
}

.recent-posts_text-container {
  @media (min-width: $tablet-bp) {
    margin-left: 20px;
  }
}
