.body-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.images-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-to-show {
  display: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.image-to-show.active {
  display: inline-block;
  animation: image-apper-anim 0.2s linear forwards;
}
@keyframes image-apper-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.stop-continue {
  display: none;
  position: absolute;
  bottom: 10%;
  right: 10%;

  font-size: 30px;
  border: none;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: royalblue;
  color: azure;
  transition: 0.2s;
  animation: btn-anim 0.1s linear forwards;
}
@keyframes btn-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.stop-continue:active {
  transform: translateY(7px);
}
