* {
  margin: 0;
  padding: 0;
}

.body-page {
  font-family: "Roboto", sans-serif;
}
@import "./components/header-page";
@import "./components/container";
@import "./components/navbar-btn";
@import "./components/navbar";
@import "./components/recent-posts";
@import "./components/latest-posts";
@import "./components/contacts";
