.body-page {
  font-family: "Oswald", sans-serif;
  background-color: rgb(156, 95, 95);
}

.password-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  margin: 4px 0px 24px 0px;
  padding-right: 80px;
  outline: none;
}

.input-wrapper input:focus {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.45);
  transform: scale(1.01);
}

.input-wrapper i {
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 14px;
}

.icon-password {
  height: 20px;
  width: 20px;
  transition: 0.2s;
}

.icon-password:hover {
  transform: scale(1.2);
}

.fa-eye {
  background: url(../img/hide.png);
  background-size: contain;
}

.fa-eye-slash {
  background: url(../img/show.png);
  background-size: contain;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.btn {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
  padding: 7px 25px 7px 25px;
  margin-top: 40px;
  transition: 0.2s;
}

.btn:active {
  animation: btn-animation 0.2s linear forwards;
}
.btn:hover {
  transform: scale(1.05);
}

@keyframes btn-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.password-error {
  display: none;
  position: absolute;
  top: -14px;
  right: -22px;

  width: max-content;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: tomato;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  margin: 0;
  padding: 4px;
}
.error {
  display: inline;
}
