.page.light {
  --img-bg: url(../img/Back.jpg);
  --navbar-bg: rgba(0, 0, 0, 0.5);
  --navbar-bxshad: rgba(0, 0, 0, 0.25);
  --color-bg-text: #ffffff;
  --color-another-text: #434343;
  --left-entry-before: rgba(255, 255, 255, 0.9);
  --button-facebook-hov: #022263;
  --button-google-hov: #ab1f09;
  --line-color: #1d1d1d;
  --input-border: #f2f2f2;
  --submit-hov: #01813f;
  --input-text: #000000;
}

.page.black {
  --img-bg: url(../img/candle-book-27442953.jpeg);
  --navbar-bg: rgba(255, 255, 255, 0.8);
  --navbar-bxshad: rgba(255, 255, 255, 0.25);
  --color-bg-text: #0f0f0f;
  --color-another-text: #bdbdbd;
  --left-entry-before: rgba(0, 0, 0, 0.9);
  --button-facebook-hov: #6691e9;
  --button-google-hov: #ee7660;
  --line-color: #dfdfdf;
  --input-border: #616161;
  --submit-hov: #04c05f;
  --input-text: #ffffff;
}

.body-page {
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

.body-background {
  background: var(--img-bg) no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100vh;
}

.nav-bar {
  height: 58px;

  background: var(--navbar-bg);
  box-shadow: 0px 4px 4px var(--navbar-bxshad);
}

.nav-part {
  display: flex;
  justify-content: space-between;
  list-style: none;

  margin: 0;
  padding-left: 79px;
  padding-right: 79px;
  height: 58px;
}

.nav-part-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  padding: 0;
}

.part-left-item {
  padding-top: 18px;
}

.part-left-item:first-child {
  margin-right: 25px;
}

.logo-title {
  margin: 0;
  padding-top: 18px;
}
.logo-title-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: var(--color-bg-text);

  transition: color 0.2s linear;
}
.logo-title-link:hover {
  color: #3cb878;
}

.icon .calendar-item {
  fill: var(--color-bg-text);
}
.icon .mail-item {
  fill: var(--color-bg-text);
}
.icon .compas-item {
  fill: var(--color-bg-text);
}

.part-left-calendar-link {
  padding-right: 25px;
}
.part-left-mail-link {
  padding-right: 25px;
}

.calendar-item {
  transition: fill 0.1s linear;
}
.calendar:hover .calendar-item {
  fill: #3cb878;
}
.mail-item {
  transition: fill 0.1s linear;
}
.mail:hover .mail-item {
  fill: #3cb878;
}
.compas-item {
  transition: fill 0.1s linear;
}
.compas:hover .compas-item {
  fill: #3cb878;
}

.left-entry {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-bg-text);
}
.left-entry::before {
  content: "";
  border-left: 1px solid var(--left-entry-before);
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-right: 27px;
}
.left-entry-item {
  font-size: 14px;
  line-height: 14px;
  color: var(--color-bg-text);
}

.left-entry-signup {
  transition: color 0.1s linear;
}
.left-entry-signup:hover {
  color: #3cb878;
}

.left-entry-login {
  transition: color 0.1s linear;
}
.left-entry-login:hover {
  color: #3cb878;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 54px;
  width: 100%;
}

.main-form {
  position: relative;

  width: 444px;
  height: 584px;

  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.main-form-list {
  margin: 0;
  padding-left: 61px;
  padding-right: 61px;
  list-style: none;
}

.top-text-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 31px;
}

.top-text-signup {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.top-text-signup::before {
  content: "";
  left: 0px;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3cb878;
}
.top-text-login {
  margin: 0;
}
.top-text-login-link {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;

  transition: color 0.1s linear;
}
.top-text-login-link:hover {
  text-decoration: underline;
  color: #01813f;
}

.top-button-line {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.facebook-button {
  width: 160px;
  height: 48px;
  background: #305db8;
  border-radius: 4px;
  margin-right: 4px;

  transition: background 0.2s linear;
}
.facebook-button:hover {
  background: var(--button-facebook-hov);
}

.facebook-button-link {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 22px;
}

.facebook {
  margin-top: 12px;
}

.facebook-button-text {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.facebook-button-text::before {
  content: "";
  border-left: 1px solid #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  padding-right: 18px;
}

.google-button {
  width: 160px;
  height: 48px;
  background: #df4a32;
  border-radius: 4px;

  transition: background 0.2s linear;
}
.google-button:hover {
  background: var(--button-google-hov);
}

.google-button-link {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 27px;
}

.google {
  margin-top: 15px;
}

.google-button-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.google-button-text::before {
  content: "";
  border-left: 1px solid #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
  padding-right: 30px;
}

.middle-or-line {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  position: relative;
}

.middle-line:first-child {
  border: 1px solid #f2f2f2;
  width: 142px;
}
.middle-line:last-child {
  border: 1px solid #f2f2f2;
  width: 148px;
}

.middle-or {
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  color: var(--line-color);
  top: -13px;
  left: 152px;
}

.down-form {
  margin-top: 11px;
}

.down-form-box {
  width: 322px;
  height: 44px;
  border: 1px solid var(--input-border);
  border-radius: 4px;

  font-size: 14px;
  line-height: 14px;
  color: var(--input-text);
  padding-left: 20px;
  margin-bottom: 15px;
}
.down-form-box:focus {
  background: var(--color-bg-text);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
}
.down-form-box::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: var(--line-color);
}

.down-form-checkbox-text {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 28px;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  margin-bottom: 15px;
}
.down-form-checkbox-text::before {
  content: "";
  width: 20px;
  height: 20px;

  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid var(--input-border);

  position: absolute;
  bottom: -2px;
  left: 0px;
  z-index: 1;
}
.down-form-checkbox-text::after {
  content: "";
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: url(../img/Vector\ 1.svg) no-repeat;
  background-size: 14px 14px;
  position: absolute;
  bottom: 1px;
  left: 3px;
  z-index: 2;
  opacity: 0;

  transition: opacity 0.1s linear;
}
.accent-checkbox-color {
  color: #3cb878cc;
}
.form-checkbox-item:hover .accent-checkbox-color {
  color: #01813f;
  text-decoration: underline;

  transition: color 0.1s linear;
}
.down-form-checkbox:checked + .down-form-checkbox-text::after {
  opacity: 1;
}

.down-form-checkbox {
  appearance: none;
  position: absolute;
  margin-bottom: 15px;
}

.down-form-submit {
  cursor: pointer;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;

  transition: background 0.1s linear;
}
.down-form-submit:hover {
  background: var(--submit-hov);
  border-radius: 4px;
}

.btn-site-theme {
  position: absolute;
  bottom: 10%;
  right: 10%;
  padding: 5px 25px 5px 25px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.btn-site-theme.active-light {
  color: #000000;
  background: #ffffff;
}

.btn-site-theme.active-black {
  color: #ffffff;
  background: #000000;
}
