.body-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(216, 90, 90);
  font-family: "Montserrat", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.span-container {
  position: relative;
  margin-bottom: 15px;
  animation: span-container-anim 0.3s linear forwards;
}

.price_span {
  font-size: 13px;
  font-weight: 600;
  color: rgb(230, 59, 59);
  background: #fff;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px 30px 5px 5px;
  border-radius: 20px;
}

.delete-img {
  position: absolute;
  top: 2px;
  left: 87%;
  transition: 0.2s;
}
.delete-img:hover {
  transform: scale(1.3);
}

@keyframes span-container-anim {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.label {
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.input {
  font-weight: 400;
  color: rgb(100, 100, 100);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px;
}
.input:focus {
  border: 2px solid rgb(33, 233, 33);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.input.mistake {
  border: 2px dashed red;
}

.mistake-span {
  position: absolute;
  bottom: -30px;
  color: white;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  text-decoration: underline red;
}
