.page {
  --div-back-color-sleep: white;
  --div-back-color-active: black;
}
.page.change {
  --div-back-color-sleep: black;
  --div-back-color-active: white;
}

.body-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.table-div {
  display: flex;
  flex-wrap: wrap;
  width: 755px;
}

.table-div-item {
  width: 25px;
  height: 25px;
  border: 1px;
  border: 1px solid var(--div-back-color-active);
  background: var(--div-back-color-sleep);
}

.table-div-item.active {
  background: var(--div-back-color-active);
}
