.CartList {
    list-style: none;
    padding: 0;
    min-width: 900px;
    max-height: 72vh;
    overflow: auto;
}

.title {
    text-align: center;
}

.countBtnBox {
    display: flex;  
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
}

