.FavoriteItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.5);
  margin: 5px;

  &:hover .bg {
    width: 100%;
    height: 100%;
  }

  &:hover button {
    transform: translateY(0px);
    opacity: 1;
  }
}

.bg {
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0%;
  background-color: rgba($color: #ba1b1b, $alpha: 0.2);
  z-index: 1;
}

.price {
  margin-top: 0;
}
