* {
  margin: 0;
  padding: 0;
  background-color: rgb(34, 34, 34);
  font-family: "Niramit", sans-serif;
}

.ip-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.ip-box__btn {
  font-size: 30px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  background-color: rgb(71, 71, 71);
  border: none;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  padding: 8px 15px;
  padding-top: 0;
  transition: 0.2s;
}

.ip-box__btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
}

.ip-box__btn:active {
  transform: scale(0.95);
}

.ip-box__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.ip-box__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 20px;
  font-size: 20px;
  color: white;
}

.ip-box__item:last-child {
  margin: 0;
}

.ip-box__loading {
  width: 180px;
  aspect-ratio: 8/5;
  mask: radial-gradient(#000 68%, #0000 71%) no-repeat,
    radial-gradient(#000 68%, #0000 71%) no-repeat,
    radial-gradient(#000 68%, #0000 71%) no-repeat;
  mask-size: 25% 40%; /* the size of our dots */
}

.ip-box__loading {
  margin-left: 10px;
  width: 20px; /* control the size */
  aspect-ratio: 8/5;
  --_g: no-repeat radial-gradient(#000 68%, #0000 71%);
  -webkit-mask: var(--_g), var(--_g), var(--_g);
  -webkit-mask-size: 25% 40%;
  background: rgb(255, 255, 255);
  animation: load 2s infinite;
}

@keyframes load {
  0% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%;
  }
  16.67% {
    -webkit-mask-position: 0% 100%, 50% 0%, 100% 0%;
  }
  33.33% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 0%;
  }
  50% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 100%;
  }
  66.67% {
    -webkit-mask-position: 0% 0%, 50% 100%, 100% 100%;
  }
  83.33% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 100%;
  }
  100% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%;
  }
}
