@mixin flex($x-pos, $y-pos, $view) {
  display: flex;
  justify-content: $x-pos;
  align-items: $y-pos;
  flex-direction: $view;
}

@mixin list-style {
  list-style: none;
  padding: 0;
}

@mixin text-styles($case, $weight, $size, $height) {
  text-transform: $case;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin border-icon($color) {
  border: 2px solid $color;
}
