$title-color: #4e4e4e;
$text-color: #7c7c7c;
$text-active: #57a4a4;
$text-hover: #e5e5e5;

$black-color: #000000;
$back-color: #f5f5f5;

$recent-posts-color: #5c5c5c;

$footer-title-color: #fefefe;
$footer-text-color: #b9b9b9;

$rss-icon-color: #f8902e;
$facebook-icon-color: #39599f;
$twitter-icon-color: #45b0e3;
$dribbble-icon-color: #d97ab0;
$pinterest-icon-color: #cc212c;

$tablet-bp: 768px;
$desktop-bp: 1200px;
