.btn-wrapper {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  border: none;
  border-radius: 20px;
  min-width: 120px;
  padding: 7px;
  color: #fff;
  font-size: 14px;
  background-color: #000000;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55);
}
.btn.active {
  background-color: blue;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55) inset;
}
.btn:focus {
  outline: none;
}
