.CardList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
    width: 700px;
    max-height: 100vh;
    overflow: auto;
    padding-top: 20px;
}

.CardItem {
    width: min-content;
    list-style: none;
    margin: 0;
}

.btn {
  padding: 5px 20px;
  margin: 10px 0px;
  background-color: rgb(199, 52, 52);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.2);
  transition: 0.2s;

  &:hover {
    transform: scale(0.95);
  }
}
