* {
  margin: 0;
  padding: 0;
}

/* <div class="film-card">
      <h2 class="film-card__title">${name}</h2>
      <p class="film-card__id">Episode: ${episodeId}</p>
      <p class="film-card__desc">${openingCrawl}</p>
      <ul class="film-card__num${episodeId}"></ul>
    </div>` */

.body-page {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.film-card {
  position: relative;
  margin: 20px;
  font-size: 80%;
  padding: 10px;
  width: 520px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

.film-card:hover {
  transform: scale(1.01);
}

.film-card__title {
  font-size: 30px;
  margin-bottom: 5px;
}

.film-card__id {
  font-size: 20px;
  text-decoration: underline;
}

.film-card__desc {
  max-width: 300px;
  margin-top: 10px;
}

.film-card__num {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  width: 500px;
  padding: 0;
  margin-left: 20px;
  margin-top: 10px;
}

.film-card__placeholder {
  background-color: rgb(146, 145, 145);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.film-card__placeholder {
  position: relative;
  width: 520px;
  height: 300px;
  background-color: rgb(211, 211, 211);
  z-index: 44;
  left: 240px;
  top: 0px;
  overflow: hidden;
  border-radius: 5px;
}
.activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(
    to left,
    rgba(251, 251, 251, 0.05),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.05)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.05),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.05)
  );
  background-image: -webkit-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.05),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.05)
  );
  animation: loading 1s infinite;
  z-index: 45;
}

@keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
