.body-page {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
}
.container::after {
  content: "element have Parent element";
  position: absolute;
  top: -70px;
  left: 150px;

  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: yellow;

  background-color: black;
  border-radius: 7px;
  padding: 5px;
}
.container::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 135px;

  border: 10px solid transparent; /* Прозрачные границы */
  border-top: 30px solid rgb(0, 0, 0);
  border-radius: 4px;
  transform: rotate(45deg);
}

.list-js {
  list-style: none;
  width: min-content;
  margin: 8px;
  padding: 8px;
  box-shadow: 9px 9px 7px 1px rgb(187, 187, 187);
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
}
.list-item-js {
  font-size: 30px;
  font-weight: 400;
  color: rgb(240, 240, 42);
}
