.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  width: 300px;
  transition: 0.2s;
  z-index: 0;

  &:hover {
    box-shadow: 0px 0px 10px rgba($color: #4f0505, $alpha: 0.5);
    transform: scale(1.01);
    z-index: 1;
  }
}

.img {
  width: 290px;
  height: 300px;
  margin-top: 40px;
}

.header {
  text-align: center;
  margin: 0px 10px 10px 10px;
  font-weight: 700;
}

.price {
  font-weight: 700;
}

.changedColor {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.favorite {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
