#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

ul {
  width: 1200px;
  font-size: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
  margin: 7px 20px;
  transition: 0.5s;
  list-style: none;
}

ul:hover {
  transform: scale(0.99);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
}

li {
  margin: 10px 0px;
  margin-left: 13px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
