.Modal {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-45%);
    width: 550px;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(89, 89, 89);
    border-radius: 10px;
}

.title {
    background-color: rgb(80, 80, 80);
    margin: 0;
    padding: 10px 100px 10px 20px;
    color: white;
}

.text {
    color: white;
    font-size: 17px;
    line-height: 2em;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.closeBtn {
    cursor: pointer;
    position: relative;
    top: -155px;
    left: 480px;
    width: 30px;
    height: 30px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate(45deg);
        width: 100%;
        height: 2px;
        background-color: white;
        border-radius: 10px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate(-45deg);
        width: 100%;
        height: 2px;
        background-color: white;
        border-radius: 10px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
}