.navbar {
  position: absolute;
  bottom: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(167, 40, 40);
  padding: 0px 20px;
  border-radius: 10px;
  margin-top: 10px;
  height: 60px;
  margin-bottom: 10px;
}

.icon {
  outline: none;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  background-color: rgb(167, 40, 40);
  border: 4px solid rgb(167, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 7px;
}

.iconActive {
  outline: none;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  background-color: rgb(167, 40, 40);
  border: 4px solid rgb(167, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 7px;
  animation: 0.2s active forwards linear;

  @keyframes active {
    0% {
      transform: translateY(0px);
      border: 4px solid rgb(167, 40, 40);
    }
    100% {
      transform: translateY(-20px);
      border: 4px solid white;
    }
  }
}
