.CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.3);
  padding: 10px;
  margin: 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin-right: 20px;
}

.title {
  text-align: right;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
