.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.iconWrapper {
  cursor: pointer;
  position: relative;
}

.quatity {
  position: absolute;
  top: 15px;
  left: 9px;
}