.StorePage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.title {
  margin-top: 80px;
  margin-bottom: 0;
}