ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  box-shadow: 9px 9px 10px 0px rgba(0, 0, 0, 0.5);
}

.tabs-title {
  padding: 20px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
}

.tabs-title.active {
  background-color: #937341;
  color: #23201d;
}
.tabs-content {
  width: 300px;
  height: 300px;
  padding: 6px;
  border: 2px solid #23201d;
  border-radius: 4px;
  background-color: #23201d;
  box-shadow: 9px 9px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.tabs-content-item {
  display: none;
  color: white;
}

.tabs-content-item.active {
  display: block;
}
