.body-page {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.circle-div {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50% 46%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle-btn,
.circle-draw-btn {
  margin-top: 10px;
}

.circle-btn {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50% 46%);
}
