.FavoriteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 700px;
  height: 72vh;
  overflow: auto;

  button {
    transform: translateY(100px);
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 39%;
    right: 17%;
    width: 50px;
    height: 50px;
    z-index: 1;
    width: max-content;
}
}

.title {
  text-align: center;
}