.body-page {
  background-color: rgb(16, 15, 15);
  font-family: "Niramit", sans-serif;
}

.working-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-bar {
  position: fixed;
  left: 0%;
  margin-bottom: auto;
  margin-top: 500px;
  padding-left: 100px;
}

.left-bar__see-more {
  margin: 50px 0px 30px 0px;
}

.left-bar__see-more_link {
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.left-bar__setting_linlk {
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.middle-bar {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  border-right: 1px solid rgb(103, 103, 103);
  border-left: 1px solid rgb(103, 103, 103);
  height: max-content;
}

.right-bar {
  position: fixed;
  right: 0%;
  flex: 1;
}

.cont {
  width: 100%;
  height: 100px;
  background-color: white;
}

.right-bar__list {
  margin-right: 30px;
  margin-top: 500px;
  padding: 0;
  list-style: none;
  background-color: rgb(36, 45, 54);
  padding: 1px 10px 1px 15px;
  border-radius: 20px;
}

span {
  font-size: 20px;
  font-weight: 700;
  margin-left: 140px;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 10px;
  border-radius: 25px;
}

.right-bar__item {
  cursor: pointer;
  margin: 40px 0px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  transition: 0.2s;
}

.right-bar__item:hover {
  transform: scale(0.95);
}

.middle-bar__list {
  margin-left: 30px;
  margin-right: 40px;
  list-style: none;
  padding: 0;
}

.middle-bar__cont {
  display: flex;
  justify-content: start;
  align-items: center;
}

.middle-bar__name {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.middle-bar__username {
  cursor: pointer;
  position: relative;
  font-size: 15px;
  color: rgb(140, 140, 140);
  margin-left: 15px;
}

.middle-bar__email {
  cursor: pointer;
  position: relative;
  font-size: 15px;
  color: rgb(140, 140, 140);
  margin-left: 15px;
}

.middle-bar__username::after {
  content: "";
  position: absolute;
  top: 0%;
  left: -7px;
  width: 1px;
  height: 100%;
  background-color: rgb(176, 176, 176);
}

.middle-bar__email::after {
  content: "";
  position: absolute;
  top: 0%;
  left: -7px;
  width: 1px;
  height: 100%;
  background-color: rgb(176, 176, 176);
}

.middle-bar__item {
  margin-bottom: 60px;
}

.middle-bar__item::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  height: 2px;
  width: 95%;
  background-color: white;
}

.middle-bar__title {
  font-size: 15px;
  color: rgb(195, 195, 195);
}
.middle-bar__text {
  font-size: 14px;
  color: rgb(164, 164, 164);
}

.middle-bar__cont-text {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2px 10px 10px 10px;
  margin-top: 15px;
}

.middle-bar__dlt-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10px;
  font-style: 700px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  padding: 7px;
  transition: 0.2s;
}

.middle-bar__dlt-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.middle-bar__dlt-btn:active {
  transform: scale(0.95);
}

.middle-bar__cont-text.anim {
  animation: dlt-dissapr 0.35s forwards linear;
}
@keyframes dlt-dissapr {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
